.footer {
  
  color: #e7ebe5;
  padding: 60px 20px 20px;
  font-family: sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0px;
  max-width: 1500px;
  margin: auto;
}

.footer h3, .footer h4 {
  color: #fff;
  margin-bottom: 12px;
}

.footer p, .footer a {
  font-size: 14px;
  color: #cbd5f5;
  text-decoration: none;
}

.footer a:hover {
  color: #38bdf8;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #94a3b8;
}