/* Reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(0, 59, 0), rgb(4, 96, 4), rgb(0, 59, 0));
  }
  
  /* الحاوية العامة */
  .all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
  }
  
  /* المحتوى */
  .main {
    color: white;
    min-height: 70vh;
    width: 100%;              /* بدل 300% */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* العنوان */
  .h1 {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }
  
  /* الأزرار */
  .alldiv {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .button0,
  .button00 {
    border: none;
    border-radius: 15px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* زر لعبة جديدة */
  .button0 {
    background-color: rgba(4, 228, 0, 0.6);
    color: white;
  }
  
  .button0:hover {
    background-color: #0b7a0b;
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }
  
  /* زر إنشاء مجموعة */
  .button00 {
    background-color: #5c6f5c;
    color: white;
  }
  
  .button00:hover {
    background-color: #829f82;
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  }
   




  
  /* الصور *//*
  .images-container {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 20px;
  }
  
  .img {
    width: 320px;
  }
  
  .img2 {
    width: 340px;
  } 
  */






  /* ============================= */
  /* ريسبونسف لشاشات أصغر من 1400px */
  @media (max-width: 1400px) {
    .img { width: 250px; }
    .img2 { width: 260px; }
  }
  
  /* ============================= */
  /* تابلت */
  @media (max-width: 900px) {
    .alldiv {
      flex-direction: column;
      gap: 15px;
    }
  
    .images-container {
      display: none; /* نخفي الصور */
    }
  }
  
  /* ============================= */
  /* موبايل */
  @media (max-width: 500px) {
    .h1 { font-size: 20px; }
  
    .button0,
    .button00 {
      width: 100%;
      font-size: 15px;
    }
  }
  